.header {
  width: 100%;
  background-color: #f2f4f7;
  border-bottom: 1px solid rgba(18, 20, 23, 0.1);
  position: relative;
  z-index: 100;
}

.container {
  max-width: 1440px;
  height: 68px;
  margin: 0 auto;
  padding: 0 128px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  gap: 32px;
}

.logo,
.link {
  font-family: var(--font-manrope), "Manrope", sans-serif;
  color: #121417;
  text-decoration: none;
  display: inline-block;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.link {
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: var(--color-primary);
}

.active {
  color: var(--color-primary);
}
