.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 268px;
  border-radius: 14px;
  overflow: hidden;
  margin-bottom: 14px;
}

.image {
  object-fit: cover;
}

.favoriteBtn {
  position: absolute;
  top: 14px;
  right: 14px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.2));
}

.info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.titleRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-main);
}

.title {
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.accent {
  color: var(--color-primary);
}

.price {
  font-weight: 500;
}

.details {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 6px;
  color: var(--color-text-secondary);
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 28px;
}

.details span:not(:last-child)::after {
  content: "|";
  color: var(--color-divider);
  margin-left: 6px;
}

.learnMoreBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 12px 0;
  background-color: var(--color-primary);
  color: #ffffff;
  border-radius: 12px;
  font-weight: 600;
  font-size: 14px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: auto;
}

.learnMoreBtn:hover {
  background-color: var(--color-primary-hover);
}
