@import "tailwindcss";

:root {
  --color-primary: #3470ff;
  --color-primary-hover: #0b44cd;
  --color-text-main: #121417;
  --color-text-secondary: rgba(18, 20, 23, 0.5);
  --color-divider: rgba(18, 20, 23, 0.1);
  --color-gray-label: #8d929a;

  /* Цвет фона для полей ввода (селектов) */
  --bg-input: #f7f7f9;

  /* Фон страницы - снова чисто белый */
  --background: #ffffff;
  --foreground: #121417;
}

@theme inline {
  --font-sans: var(--font-manrope);
  --color-primary: #3470ff;
  --color-primary-hover: #0b44cd;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.filter-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-gray-label);
  margin-bottom: 8px;
  display: block;
}

.filter-input {
  font-family: var(--font-manrope), "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--color-text-main);
  background-color: var(--bg-input);
  border-radius: 14px;
  padding: 14px 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

::placeholder {
  font-family: var(--font-manrope), "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-main);
  opacity: 1;
}
